@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

header {
    background-color: #7e308e;
    color: #fff;
    border: 3px solid black;
}

#mainPic {

    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0.85;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Images/Gen-1-Perfect-bck-Img.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 95%;
}

#linkStart {

    padding: 15px;
    display: inline;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px #350735;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;

}

button {
    color: #350735;
}

footer {
    margin-top: 400px;
}

h4{

    padding: 15px;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 20px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;

}


/* p {

    padding: 15px;
    display: inline;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px #350735;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;

} */


#pokeParagraph{

    padding: 15px;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px #350735;
    font-size: 20px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;

}

a {
    font-size: 25px;
    color: #350735;
}

#Year {
    display: inline;
    padding: 15px;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px #350735;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;
}