@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#secondPage {
  color: #350735;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  opacity: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("../Images/pokemon-gen-1-starters-mainPic.webp");
  background-repeat: no-repeat;
  background-size: 100% 95%;
}

#banner {
  padding: 10px;
  display: inline;
  color: #350735;
  border: 2px solid #350735;
  border-radius: 8px;
  border-width: 3px;
  box-shadow: 5px 5px 5px #350735;
  font-size: 25px;
  background-color: #fdd23c;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: inset;
}


body {
  display: none;
  /* Hide the body element initially */
}

#submit {
  padding: 5px;
  color: #350735;
  border: 2px solid #350735;
  border-radius: 8px;
  border-width: 3px;
  box-shadow: 5px 5px 5px #350735;
  font-size: 25px;
  background-color: #fdd23c;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: inset;
}

#pokeIndex {
  margin-top: 20px;
}


#content-box {
  width: 550px;
  height: 500px;
  border: 10px solid #7e308e;
  border-radius: 10px;
  background-color: brown;
  display: flex;
  margin: 0 auto;
}

#pokemon-info {
  text-align: center;
  width: 350px;
  height: 480px;
  background-image: url(../Images/Pokedex-background.jpeg);
  background-size: cover;
}

#pokemon-list {
  display: inline;
  width: 2350px;
  height: 480px;
  font-size: 13.5px;
  overflow-y: auto;
  text-align: left;
}

.indexContainer label {
  padding: 5px;
  color: #350735;
  border: 2px solid #350735;
  font-size: 15px;
  background-color: #fdd23c;
  margin-top: 15px;
  margin-bottom: 15px;


}

.pokemon-name {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

#legend {
  padding: 10px;
  color: #350735;
  border: 2px solid #350735;
  border-radius: 8px;
  border-width: 3px;
  box-shadow: 5px 5px 5px #350735;
  font-size: 35px;
  background-color: #fdd23c;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: inset;

}

#pokemon-info img {
  width: 130px;
  height: 130px;
  border: 2px solid #350735;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
}

#pokemon-types {
  margin-top: 10px;
}

.type-box {
  padding: 3px;
  margin: 5px;
  border: 2px solid #350735;
  border-radius: 10px;
}

.normal {
  background-color: beige;
  color: black;
}

.fire {
  background-color: orange;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.ice {
  background-color: lightblue;
  color: black;
}

.electric {
  background-color: gold;
  color: black;
}

.fighting {
  background-color: darkred;
  color: white;
}

.flying {
  background-color: skyblue;
  color: black;
}

.bug {
  background-color: yellowgreen;
  color: white;
}

.ghost {
  background-color: purple;
  color: white;
}

.rock {
  background-color: sienna;
  color: white;
}

.ground {
  background-color: burlywood;
  color: black;
}

.psychic {
  background-color: palevioletred;
  color: white;
}

.dragon {
  background-color: teal;
  color: white;
}

.poison {
  background-color: darkviolet;
  color: white;
}

.fairy {
  background-color: rgb(212, 95, 115);
  color: black;
}

.steel {
  background-color: slategray;
  color: black;
}

#pokemon-description {

  width: 190px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 11.85px;
}

footer {
  padding-top: 15px;
  display: inline;
  color: #350735;
  border: 2px solid #350735;
  border-radius: 8px;
  border-width: 3px;
  box-shadow: 5px 5px 5px #350735;
  font-size: 25px;
  background-color: #fdd23c;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: inset;
}