@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
}

#secondPage {

    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    opacity: 0.85;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Images/pokemon-gen-1-starters-mainPic.webp");
    background-repeat: no-repeat;
    background-size: 100% 345%;

}

#submit {

    border: 2px solid rgb(26, 25, 6);
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px black;
    font-size: 25px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;
    color: #fff;

}