@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

header, footer {
    background-color: #7e308e;
    color: #fff;
}

#lastPage {
    position: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    opacity: 0.85;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Images/final-pic-pokemon.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#end {
    border: 2px solid rgb(26, 25, 6);
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 5px 5px 5px black;
    font-size: 18px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset;
}

#resultsContainor {
    padding-top: 10px;
    border-top: 3px solid black;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #350735;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
}

#typeBox {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #350735;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 20px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
}

#imgBox {
    height: 200px;
}

#movieBox {
    border-left: 5px solid black;
}

#poster {
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 50px;
}

#plot {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #350735;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-top: 75px;
    font-size: 20px;
}

button {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #350735;
    border: 4px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 5px;
    margin-bottom: 15px;
}

a {
    color: #350735;
}

#movieName {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #350735;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    padding-top: 15px;
    display: inline;
    color: #350735;
    border: 2px solid #350735;
    border-radius: 8px;
    border-width: 3px;
    font-size: 25px;
    background-color: #fdd23c;
    margin-top: 15px;
    margin-bottom: 15px;
}

#continue {
    margin-top: 5px;
}